<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"
          crossorigin="anonymous"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js"
              crossorigin="anonymous"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js"
              crossorigin="anonymous"></script>
      {% if title %}
      <title>{{ title }} - Stock Price</title>
      {% else %}
      <title>Welcome to StockPriceCheck</title>
      {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
